<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aligno.me | Gun Control</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/topic.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<div class="text-center topic-main">
  <div class="topic-main-text">
    <h1>GUN CONTROL</h1>
  </div>
</div>

<div class="topics-section">
  <div class="general-info">
    <div class="container">
      <div class="section">
        <div class="text-center">
          <h3>General Information</h3>
        </div>
        <div class="row">
          <ul>
            <li>Gun control is defined as “the set of laws or policies that regulate the manufacture, sale, transfer, possession, modification, or use of firearms by civilians”, while abiding by the 2nd Amendent.</li>
            <li> The 2nd Amendment states that “a well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.”</li>
          </ul>
        </div>
      </div>
      <div class="section">
      <div class="text-center">
        <h3>Key Legislation/Programs</h3>
      </div>
      <div class="row">
        <ul>
          <li><strong>Protection of Lawful Commerce in Arms Act(2005):</strong> Protects firearms manufacturers and dealers from being held liable when crimes have been committed with their products.</li>
          <li><strong>H.J. Res. 40(2017-2018):</strong> Eliminates the requirement to enter the names of people who require mental health benefits into the National Instant Criminal Background Check System.</li>
          <li><strong>Extreme Risk Protection Orders:</strong> Allows families, household members, or law enforcement officers to petition a court directly for an extreme risk protection order (ERPO) which temporarily restricts a person’s access to guns</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
      <div class="col-sm-6 topic-box">
        <div class="text-center">
          <h3>Donald Trump</h3>
        </div>
        <div class="person-content">
            <ul>
            <li>Signed the H.J. Res. 40 which eliminates the requirement to enter the names of people who require mental health benefits into the National Instant Criminal Background Check System</li>
            <li>Increase and strengthening of background checks</li>
            <li>Let states decides legal age limit for buying arms</li>
            <li>Called for states to enforce Extreme Risk Protection Orders which allow law enforcement (accompanied with permission from the court) to removes firearms from demonstrated threats and to prevent them from buying arms</li>
            <li>Banning of bump stocks</li>
            </ul>
        </div>
      </div>
      <div class="col-sm-6 topic-box">
        <div class="person-content">
        <div class="text-center">
          <h3>Joe Biden</h3>
        </div>
        <div class="person-content">
            <ul>
            <li>Repeal the Protection of Lawful Commerce in Arms Act that “protects these manufacturers from being held civilly liable for their products”</li>
            <li>Ban the manufacture and sale of assault weapons and high-capacity magazines</li>
            <li>Ban the importation of assault weapons</li>
            <li>Create legislation that will regulate the possession of arms under the National Firearms Act</li>
            <li>Purchase back all assault weapons and high-capacity magazines in the United States</li>
            <li>Enforce legislation that will restrict the number of arms purchased by an individual</li>
            <li>Require background checks for all gun sales</li>
            <li>Reinstate the Social Security Administration records of individuals requiring mental health benefits</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
