

/* Header of the Website */
.main {
  height: 500px;
  background-color: rgb(19, 94, 245);
}

.main-text {
  padding-top: 150px;
  color: white;
}



/* Body Content */

.topics-section {
  height: 700px;
}

.topic-box {
  padding: 10px;
}

.topic-content {
  background-color: rgb(224, 22, 4);
  padding: 5px;
}