

/* Header of the Website */
.main {
  height: 500px;
  background-color: #223e92;
}

.main-text {
  padding-top: 150px;
  color: #93bdf9;
}



/* Body Content */

.topics-section {
  height: 700px;
}

.topic-box {
  padding: 10px;
}

.topic-content {
  background-color: #e6131c;
  border: #e6131c;
  padding: 5px;
  width: 100%;
  height: 200px;
}

.topic-text {
  margin-top: 200px!important;
}

#c1 {
  text-align: center;
}