<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/topic.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-center topic-main">
  <div class="topic-main-text">
    <h1>CLIMATE CHANGE</h1>
  </div>
</div>
  
<div class="topics-section">
  <div class="general-info">
    <div class="container">
      <div class="section">
        <div class="text-center">
          <h3>General Information</h3>
        </div>
        <div class="row">
          <ul>
            <li>See below for more information</li>
          </ul>
        </div>
      </div>
      <div class="section">
      <div class="text-center">
        <h3>Key Legislation/Programs</h3>
      </div>
      <div class="row">
        <ul>
          <li><strong>Clear Air Act (1970):</strong> Passed to prevent air pollution and thereby protect the ozone layer. Gave power to the Environmental Protection Agency (EPA) to fight environmental pollution.</li>
          <li><strong>National Ambient Air Quality Standards (NAAQS):</strong> Established by the EPA to ensure that all cities, towns, and states do not exceed certain amounts of specified pollutants. Some places in the U.S. do not abide by these standards.</li>
          <li><strong>Paris Climate Accord (2016):</strong> Goal is to strengthen the global response to the threat of climate change by restricting the global temperature rise this century to 1.5 degrees Celsius. Aims to strengthen the ability of countries to deal with impacts of climate change.</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
      <div class="col-sm-6 topic-box">
        <div class="text-center">
          <h3>Donald Trump</h3>
        </div>
        <div class="person-content">
            <ul>
              <li>Withdraw the US from the Paris Climate Treaty</li> 
                <ul>
                  <li>An international agreement signed to reduce fossil fuel emissions</li>
                </ul>
              <li>Replaced the Clean Power Plan which intends to reduce emissions from power plants</li>
              <li>Weakened fuel economy standards for cars</li>
              <li>Rollbacks on rules for methane, cross-state air pollution regulations and efficiency</li>
              <li>Executive order that “directing all departments to target for elimination any rules that restrict U.S. production of energy”</li>
              <li>Revived the Keystone XL and Dakota Access pipeline</li>
              <li>Has moved to suppress climate and related science</li>
            </ul> 
        </div>
      </div>
      <div class="col-sm-6 topic-box">
        <div class="text-center">
          <h3>Joe Biden</h3>
        </div>
        <div class="person-content">
            <ul>
              <li>Moves for a plan that will “ensure the U.S. achieves a 100% clean energy economy and reaches net-zero emissions no later than 2050”</li>
              <li>Design infrastructure that can withstand climate change </li>
              <li>Recommit the United States to the Paris Climate Treaty</li>
              <li>Take action against fossil fuel companies and other polluters</li>
              <li>Will not accept contributions from oil, gas and coal corporations and executives</li>
              <li>Federal investment of $1.7 trillion over the next 10 years</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
