<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>


  
<div class="container topics-section">
  <h1>Immigration</h1>
  <div class="row">
    <h3>General Information</h3>
    <ul>
      <li>Immigration is the movement of people from one country to another. Generally, immigrants are not natives of or do not possess citizenship in the countries they immigrate to.</li>
      <li>The United States has more immigrants than any other nation. In 2017, more than 40 million people living in the U.S. were born in some other country, representing nearly 14% of the U.S. population.</li>
      <li>The majority of immigrants (77%) reside in the U.S. legally.</li>
      <li>Most immigrants come from Mexico (11.2 million in 2017), followed by China (2.9 million) and India (2.3 million).</li>
      <li>Since 2010, more Asian immigrants have arrived in the U.S. than Hispanic immigrants.</li>
    </ul>
  </div>
  <div class="row">
    <h3>Key Legislation/Programs</h3>
    <ul>
      <li>Dream Act</li>
      <li>DACA</li>
      <li>TPS</li>
  <div class="row">
    <div class="col-sm-6 topic-box">
      <div class="topic-content">
        <h3>Candidate 1</h3>
        <p>Stances:</p>
          <ul>
            <li>Would like to sponsor the building a wall across the United States-Mexian Border </li> 
            <li>Standing up to sanctuary states who harbor and protect illegal immigrants </li>
            <li>Believes that the US should be a haven for lawful American Citizens, not “criminal aliens”</li>
            <li>Would like to pass the Justice for Victims of Sanctuary Act </li>
              <ul>
                <li>“Enables victims of open borders to sue the radical and lawless jurisdictions responsible for the harm inflicted”</li>
              </ul>
            <li>Merit-based immigration </li>
              <ul>
                <li>Proposing legislation that would shift the current randomized immigration system to a system based on skill and merit</li>
              </ul>
            <li>Would like to enforce voter I.D. legislation for elections</li>
            <li>“Touchback amnesty” - illegal immigrants are deported and those without criminal records can return to the country</li>
            <li>Impose travel bans - suspend immigrants from known terror states</li>
          </ul> 
      </div>
    </div>
    <div class="col-sm-6 topic-box">
      <div class="topic-content">
        <h3>Candidate 2</h3>
        <p>Stances:</p>
          <ul>
            <li>“End the prosecution of parents for minor immigration violations as an intimidation tactic, and prioritize the reunification of any children still separated from their families”</li>
            <li>Restore asylum laws to protect people fleeing asylum </li>
            <li>Direct resources to assure the efficient and fair processing of asylum applications</li>
            <li>Increase humanitarian resources (“faith-based shelters, non-governmental aid organizations, legal non-profits, and refugee assistance agencies”) available to migrants awaiting review of their asylum claims</li>
            <li>Provide alternatives to detention that will support immigrants through legal stages</li>
              <ul>
                <li>Will enable safe and humane living conditions for migrants</li>
              </ul>
            <li>To end the National Emergency that extracts federal dollars from the DOD to build the wall</li>
              <ul>
                <li>Direct the resources to improvements in screening technology</li>
              </ul>
            <li>Reinstate DACA, which protects undocumented immigrants who were brought to the US as Children, have abided by US Law, and have attented school or enlisted in the military</li>
              <ul>
                <li>Provided young people who passed a background check with temporary work permits and protection from deportation</li>
              </ul>
            <li>Rescind the travel and refugee bans</li>
          </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
